<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title>MyWeb</title>
    
	<style>
		.custom-restricted-width {
			/* To limit the menu width to the content of the menu: */
			display: inline-block;
			/* Or set the width explicitly: */
			/* width: 10em; */
		}
		p {font-family: sansserif;}

	</style>

    <link rel="stylesheet" href="../../static/css/layouts/pure.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../../static/css/layouts/grids-responsive.css">
    <!--<![endif]-->
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="../../static/css/layouts/blog.css">
        <!--<![endif]-->
			<link rel="stylesheet" href="../../static/css/layouts/menus.css">
</head>
<body>







<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-5">
		
        <div class="header">
			<div class="post-images pure-u-1 pure-u-md-3-5 "><img width="148" height="148" alt="photo" class="post-avatar" src="../../static/img/common/0.jpg"></div>
            
			<h1 class="brand-title">欧宝源</h1>
            <h2 class="brand-tagline">学号：2015211324</h2>
			<h2 class="brand-tagline">班级：2015211307</h2>

            <div class="pure-menu custom-restricted-width">
                <span class="pure-menu-heading">生命不息</span>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/index/" class="pure-menu-link">上传与下载</a></li>
                    <li class="pure-menu-item"><a href="/exam1/" class="pure-menu-link">实验一</a></li>
                    <li class="pure-menu-item"><a href="/exam2/" class="pure-menu-link">实验二</a></li>
                    <li class="pure-menu-item"><a href="/exam3/" class="pure-menu-link">实验三</a></li>
                    <li class="pure-menu-item"><a href="/exam4/" class="pure-menu-link">实验四</a></li>
                    <li class="pure-menu-heading">传火不止</li>
                </ul>
            </div>

        </div>

    </div>

    <div class="content pure-u-1 pure-u-md-2-3">
        <div>

            <div class="posts">
                <h1 class="content-subhead">实验一 音频采集与处理</h1>

                <section class="post">
                    <header class="post-header">
                        <img width="48" height="48" class="post-myphoto" src="../../static/img/common/1.png">
                        <h2 class="post-title">实验要求</h2>
                    </header>

                    <div class="post-description">
                        <p>
                            用Windows录音机录制一首自己唱的歌或朗诵，准备一段背景音乐，使用Cool Edit导入录制的声音文件和背景音乐，并进行合成。
                        </p>
                    </div>
                </section>
				
				<hr>

                <section class="post">
                    <header class="post-header">
                        <img width="48" height="48" class="post-myphoto" src="../../static/img/common/2.png">
                        <h2 class="post-title">提交内容</h2>
                    </header>

					<div class="post-description">
                        <p>
                            背景音乐文件、声音文件、合成作品、实验报告（电子版+打印版）。
                        </p>
                    </div>
                </section>
				
				<hr>

                <section class="post">
                    <header class="post-header">
                        <img width="48" height="48" class="post-myphoto" src="../../static/img/common/3.png">

                        <h2 class="post-title">作品</h2>

                    </header>
					
                    
					<audio controls>

                        <source src="../../static/play.wav" type="audio/mpeg">

                        当该元素不被浏览器支持时，该段文本被显示。

                    </audio>

                </section>
            </div>

        </div>
    </div>
</div>




</body>
</html>
